ul{
     display: flex; 
     justify-content: center;
     /* gap:2rem; 
      align-items: center;  
    grid-auto-rows:2rem; 
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;  */
}  

.butto {
  cursor: pointer;
  width: 6em;
  position: relative;
  height: 3em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: #1E90FF;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 10px;
  font-weight: bold;
}

.butto::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: 0093E9;
  transition: 0.5s;
  transform-origin: center;
}

.butto::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #1E90FF;
  transition: 0.5s;
}

.butto:hover::before, button:hover::after {
  transform: scale(0)
}

.butto:hover {
  box-shadow: inset 0px 0px 25px #c3d6ed;
}